@model List<SakataBlog.ViewModel.System.UserFolder.UserVm>
@{
    ViewData["Title"] = "Index User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Links{
    <!-- Custom styles for this page -->
    <link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <!-- Cdn Sweet Alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}
@section Scripts{
    <!-- Page level plugins -->
    <script src="/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/js/demo/datatables-demo.js"></script>
}

<h1>Index</h1>
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <a class="btn btn-primary m-0" asp-controller="User" asp-action="Create">Create New User</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Dob</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>LastName</th>
                        <th>Email</th>
                        <th>Dob</th>
                        <th>Username</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.LastName</th>
                            <th>@item.Email</th>
                            <th>@item.UserName</th>
                            <th>@item.Dob.ToString("dd/MM/yyyy")</th>
                            <th>
                                <div class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu" style="cursor:pointer" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item">Another action</a>
                                        <a class="dropdown-item">Something else here</a>

                                        @if (!item.IsActive)
                                        {
                                            <a class="dropdown-item btnRestore" data-id="@item.Id">Restore</a>
                                            <a class="dropdown-item btnDestroy" data-id="@item.Id">Destroy</a>
                                        }
                                        else
                                        {
                                            <a class="dropdown-item" href="/User/Update/@item.Id">Edit</a>
                                            <a class="dropdown-item btnDelete" data-id="@item.Id">Delete</a>
                                        }
                                    </div>
                                </div>
                            </th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>